body{
	background-color:#F7F8FA;
	font-family: arial, Helvetica ,sans-serif;
	font-size:15px;
	line-height:1.5;
	padding:0;
	margin:0;
}

.container{
	width:90%;
	margin:auto;
	overflow:hidden;
}
ul{
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
	display: inline;	
}

.header-top {
	background-color: #F5F5F5;
}
.left-menu{
	float: left;
}
.right-menu{
	float: right;
}
.list-top{
	padding: 0 25px 0 25px;
}

#menubar-1{
	background-color: #fff;

}

.menubox-1{
	width: 60%;
}

.box-1{
	width: 100%;
	float: left;
}
.img-1 {
	width: 15%;
	float: left;
}

.box-1 img{	
	width: 100px;
}


.box-1 input{
	width:70%;
	padding: 07px;
	text-align: center;
	margin-bottom: 10px;

}
.box-1 button{
	padding: 7px;
	margin: 0;

}

.menubox-2{	
	width: 40%;
	float:right;
	margin-top: 45px;
}

.menubox-2 li:hover {
	background-color: #E9EAEC;
	color: #FB6E09;
	font-weight: bold;
	border:1.5px solid #69819B;
	border-radius: 10px; 
}

.list-menu{
	font-size: 17px;
	padding: 0 17px 0 17px;
}

#branding-1{
	text-align: center;
	margin: 0 auto;	
}
.banner1{
	width: 85%;
	max-height:350px;

}
.menubar-2{
	font-size: 20px;
	float: left;
	padding: 0 150px 0 150px;
}
#categories-1{
	margin-top: 10px;
	background-color: #fff;
}

#categories-1 li:hover{
	background-color: #E9EAEC;
	color: #FB6E09;
	font-weight: bold;
	border:1.5px solid #69819B;
	border-radius: 10px; 
}
